assets/dependencies/**/*.js
views/**/*.ejs

# Ignore tasks directory
tasks/**/*.js
tasks/register/**/*.js
tasks/register/build.js
tasks/register/buildProd.js
tasks/register/compileAssets.js
tasks/register/default.js
tasks/register/linkAssets.js
tasks/register/linkAssetsBuild.js
tasks/register/linkAssetsBuildProd.js
tasks/register/polyfill.js
tasks/register/prod.js
tasks/register/syncAssets.js

# Ignore config directory
config/**/*.js

# Ignore pipeline files
tasks/pipeline.js


